Source: fred
Section: x11
Priority: optional
Maintainer: Gillen Daniel <gillen.dan@pinguin.lu>
Uploaders: Gillen Daniel <gillen.dan@pinguin.lu>
Build-Depends: debhelper (>= 5), libqt4-dev, libhivex-dev
Standards-Version: 3.8.2
Homepage: https://www.pinguin.lu

Package: fred
Architecture: any
Depends: ${shlibs:Depends}
Description: Forensic Registry EDitor
 Forensic Registry EDitor (fred) is a M$ registry hive editor
 for Linux with special feautures useful during forensic
 analysis.
