Source: fred
Section: x11
Priority: optional
Maintainer: Gillen Daniel <gillen.dan@pinguin.lu>
Uploaders: Gillen Daniel <gillen.dan@pinguin.lu>
Build-Depends: debhelper (>= 5), libqt5-dev
Standards-Version: 3.8.2
Homepage: https://www.pinguin.lu

Package: fred
Architecture: any
Depends: ${shlibs:Depends}
Recommends: fred-reports
Description: Forensic Registry EDitor
 Forensic Registry EDitor (fred) is a cross-platform M$ registry
 hive editor with special features useful during forensic
 analysis.

Package: fred-reports
Architecture: any
Depends: ${shlibs:Depends}
Description: Forensic Registry EDitor
 Forensic Registry EDitor (fred) is a cross-platform M$ registry
 hive editor with special features useful during forensic
 analysis.
 .
 This package contains the report-templates for fred.
